@font-face {
	font-family: 'PT Sans'; 
	font-weight: 400;
	font-style: normal;	 
	font-display: swap;
	src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
	}
	
@font-face {
	font-family: 'PT Sans'; 
	font-weight: 700;
	font-style: normal;	 
	font-display: swap;
	src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
	}

body {
	font-family: 'PT Sans', 'Arial', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.site-navigation,
.infrastructure,
.house-type,
.sorting,
.points,
.hotels,
.social,
.features,
.advantages {
	list-style: none; 
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* INDEX  */


.main-navigator,
 .inner-navigator {
	line-height: 26px;		
	text-align: center;
  
  display: flex;
  flex-direction: column;
  
}

.main-navigator {
  position: relative;
}

/* тут свг на заднем плане */

.logo-position {
  position: absolute;
  top: 0px;
  left: 50%;  
  transform: translateX(-50%);
}


.promo {	
	background-image: 
  url("../img/background-last.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  }	

.promo::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 57px;
  background-image: url("../img/polygon.svg");
  background-position: 50% 50%;
}

.promo img {
  margin-top: 77px;
  margin-bottom: 77px;
}

.site-navigation {
	background-color: #ffffff;

  display: flex;
  margin: 0;
  padding: 14px 0 16px 0;
  

}

.site-navigation ul {
  margin: 0;
  padding: 0;
}

.site-navigation a {
	color: #333333;
	font-weight: bold;
}



.site-navigation li:first-child {
  margin: 0 0 0 73px;
  padding: 0;
}

.site-navigation li:nth-child(2) {
  margin: 0 0 0 148px;
  padding: 0;
}

.site-navigation li:nth-child(3) {
  margin: 0 0 0 390px;
  padding: 0;
}

.site-navigation li:nth-child(4) {
  margin: 0 73px 0 auto;
  padding: 0;
}





.container {
width: 1200px;
margin: 0 auto;

}

.block-item {
padding: 48px 50px 59px 50px;
}

.block-head {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  max-width: 165px;
  margin-left: auto;
  margin-right: auto;

}

.block {
 padding: 0;
 margin: 0; 
  
}

.container-center {
  padding-top: 61px;
  padding-bottom: 51px;
  display: flex;
  flex-direction: column;
}

.center {
  padding: 0;
  margin: 0 0 26px 0;
  line-height: 26px;
}

.center-paragraph {
  padding: 0;
  margin: 0;
}

.general {
	background-color: #ffffff;
	text-align: center;  
  box-sizing: border-box;

}

.features-one {
  padding-top: 61px;
  padding-bottom: 82px;
}



.features-one .features {
  margin: 0;
}

.features-part {
background-color: #ffffff;
display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: 54px;
  padding-bottom: 138px;
  position: relative;
}

.features-part h2 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
  padding: 0;
  margin: 0 0 36px 0;
  
}
.item-first {
  font-size: 21px;
  line-height: 1;
  margin: 0;
  padding: 0px;
  margin-bottom: 24px;
}


.paragraph-first {
  margin: 0;
  padding: 0;
}

.paragraph {
	text-align: center;
	line-height: 24px;
  padding: 0;
  margin: 0 0 52px 0;
}

.feature-item {
	text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item svg {
order: -1;
margin-bottom: 29px;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
}



.feature-item .block-head {
	font-size: 21px;
	line-height: 21px;
  padding: 0;
  margin: 0;  
  margin-bottom: 22px;
}

.advantages {
	background-color: #ededed;
	text-align: center;
  padding-top: 48;
  padding-bottom: 59px;
  margin: 0;
  
  
}

.feature-item .block {
  margin-bottom: 59px;
}

.number-head {
  margin: 0 0 24px 0;
}

.reason {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
  display: flex;
  flex-direction: row;
  height: 256px;  
}



.features,
.advantages
 {
  display: flex;
  
  padding: 0;
  
}

.features .feature-item {
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 102px;
  width: 33.3333%;
  position: relative;
}

.advantages .feature-item {
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 48px;
  width: 33.3333%;
  
}


.reason h3 {
	font-size: 21px;
	line-height: 21px;	
}

.hotel-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none; 
  }

.hotel-search:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #604e43;
  border: none; 
  }

  .hotel-search:active {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #503e33;
  border: none; 
  }

  .hotel-search:active span {
    opacity: 0.3;
  }


.button-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;	
  }

  .button-search:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #669ec0;
  border: none;	
  }

  .button-search:active {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #5496bd;
  border: none;	
  }

  .button-search:active span {
    opacity: 0.3;
  }



.date::-webkit-input-placeholder       {color: #000000; font-weight: 700;}
.date::-moz-placeholder                {color: #000000; font-weight: 700;}
.date:-moz-placeholder                 {color: #000000; font-weight: 700;}
.date:-ms-input-placeholder            {color: #000000; font-weight: 700;}
.date:focus::-webkit-input-placeholder {color: #000000; font-weight: 700;}
.date:focus::-moz-placeholder          {color: #000000; font-weight: 700;}
.date:focus:-moz-placeholder           {color: #000000; font-weight: 700;}
.date:focus:-ms-input-placeholder      {color: #000000; font-weight: 700;}
.date:hover::-webkit-input-placeholder {color: #000000; font-weight: 700;}
.date:hover::-moz-placeholder          {color: #000000; font-weight: 700;}
.date:hover:-moz-placeholder           {color: #000000; font-weight: 700;}
.date:hover:-ms-input-placeholder      {color: #000000; font-weight: 700;}


.date-black {
	color: #000000;
	font-weight: bold;
}

.map {
  display: flex;
  flex-direction: column;

}







/* INNER  */


.hotel-form {
	color: #ffffff;
  background: #2a3e45 url("../img/filter-background.jpg") no-repeat 0 100%;
  display: flex;


}
/* этот блок не растянуть полностью на 100%*/
.main-forms {
  display: flex;
  flex-direction: row;
  padding: 30px 73px 30px 73px;
  width: 100%;
}

.folder-option {
  margin-bottom: 34px;
}



  .button-show:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 32px;
  width: 133px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background: #ffffff;
  border: 3px solid #ffffff;	
  }

.search3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.section-found {
  display: flex;
  flex-direction: row;
}

.found {
  display: flex;
  padding: 0 0 0 73px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  align-items: baseline;
}

.polygons {
  border-bottom: 1px solid #e5e5e5;

}

.sorting {
  display: flex;
  width: 352px;
  justify-content: space-around;

}

.points {
  display: flex;
  flex-direction: row-reverse;
  width: 35px;
  height: 11px
  justify-content: space-around;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 73px;
}



.hotels {
  display: flex;
  flex-direction: column;
  padding: 0 73px 0 73px;
  margin: 0;
}
/* как лучше убрать пробел между inline-block? постаила margin-left: -2px  - и не работает */
  .button {
  font: inherit;
  display: inline-block;
  padding: 3px 17px;
  vertical-align: middle;  
  text-align: center;
  border: none;
  font-size: 14px;
  line-height: 21px;
  
}
  
  .more {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;	
  }

   .more:hover {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #669ec0;
  border: none;	
  }

   .more:active {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #88b6d1;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #5496bd;
  border: none;	
  }

  .booking {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  margin-left: 7px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;	
  }

  .booking:hover {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
 
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #604e43;
  border: none;	
  }

  .booking:active {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #857871;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #503e33;
  border: none;	
  }


.catalog-price {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}


  .rates {
  display: inline-block;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 3px 16px 3px 14px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;

  }

  .active-price a {
  	color: #81b3d2;
  }


  .for-type a {
  	color: #b2b2b2;
  }


  .for-type a:hover {
  	color: #81b3d2;
  	border-bottom: 2px dashed #81b3d2;
  }


  .for-type a:active {
  	color: #81b3d2;
  }

 
  .for-rates a {
  	color: #b2b2b2;
  }


  .for-rates a:hover {
  	color: #81b3d2;
  	border-bottom: 2px dashed #81b3d2;
  }


  .for-rates a:active {
  	color: #81b3d2;
  }

  .resorts:hover {
    color: #81b3d2;
  }

  .resorts:active {
    color: #b2b2b2;
  }

.catalog-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.stars {
  margin: 0;
  margin-left: auto;
  text-align: right;
  padding: 0;
}

..stars p {
  margin: 0;
  padding: 0;
}

/* не получилось подтянуть этот блок выше */
.center-hotels {
  margin-left: 30px;
  }
.center-hotels h3 {
  margin: 0;
  padding: 0
}

.center-hotels h3 {
  margin: 0;
  margin-bottom: 6px;
  padding: 0
}


.catalog-item-details {
  line-height: 0;
  font-size: 0;
}

/* футер*/
.features-part {
  display: flex;
  justify-content: space-around;
}

.footer-part {
  display: flex;
  flex-direction: row;
  width: 965px;
  justify-content: space-between;
}



/* тут будут соцсети */
  .social {
    display: flex;
     flex-wrap: wrap;
    width: 151px;
    height: 48px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }


/* НЕ ОТОБРАЖАЮТСЯ ИКОНКИ */

  .social-item {
    display: flex;
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
    align-items: center;
    justify-content: center;
  }

.web {
  display: flex;
  align-items: center;  
}



/* не работает наведение и криво изображен значек твиттера*/
  .social-item:hover {  
  	background-color: #669ec0;
  }

  .social-item:active svg {
    
    opacity: 0.3;
  }

  
  .svg-pic-up:hover svg {
    fill: #000000;
  } 
  .svg-pic-up:active svg {
    fill: #81b3d2;
  }

 
  .svg-pic-active:hover svg {
    fill: #000000;
  } 

  .svg-pic-active:active svg {
    fill: #81b3d2;
  }

/* Лого academy*/
.logo-html:hover svg {
  fill: #81b3d2;
}

.logo-html:active svg {
  fill: #bdbbbc;
}

.logo-html {
  margin-left: 8px;
}

.visitdesona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}


/* Где то тут ошибка */
.footer-right {
  display: flex;
  align-items: center;
}

/* Фильтр для второй страницы */

/*  правильно ли*/
.filter-type {
  margin-left: 115px;
}

/*  не работают внешние отступы*/
.filter-range {
  width: 330px;
  margin-right: 73px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}


.filter-type-title
{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}



.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background: #ffffff;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}



 .hotel-form ul {
  padding: 0;
  margin: 0;
}

 /*  форма */
.data-order {
  position: absolute; 
  margin: 0 auto;
  width: 571px; 
  height: 395px;
  padding-top: 55px;
  padding-bottom: 55px;   
  font-weight: bold;    
  background: rgb(255, 255, 255);
  border: 2px solid red;
  }


.data-order input {
  width: 345px;
  height: 38px; 
  padding: 12px 10px;
  padding-right: 39px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(242, 242, 242);
  border: none;
}

.data-order input:hover {
  background-color: rgb(235, 235, 235);
}

.data-order input:focus {
  background-color: rgb(255, 255, 255);
}
  /*Блок заявки*/
.first-data {
  padding: 0;
  margin-bottom: 30px;
  position: relative;
  
}


.date-black input {
  margin-left: 24px;
  margin-top: 20px;
}

.date-black {
  margin-left: 3px;
}

.date-black svg {
  position: absolute;
  cursor: pointer;
  background: none;
  border: none; 
}

.date-black span {
  margin-top: 10px;
  margin-left: 4px;
}


/* интерактивность картинкам тоже не получается */ 

.go-in:hover path{
  fill: rgb(0, 0, 0);
}

.go-in:active path {
  fill: rgb(129, 179, 210);
}

.go-out:hover path {
  fill: rgb(0, 0, 0);
  }

.go-out:active path {
  fill: rgb(129, 179, 210);
}


.half-left {
  width: 230px;
  position: relative;
  top: 30px;
  left: 56px;
}
.half-left input {  
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;  
  text-align: center;
  background-color: rgb(242, 242, 242);
  border: none;
}

.half-left label {
  margin-right: 39px;
}

.old {  
  display: flex;
  align-items: center;
  
}


.button-1:hover {
  color: rgb(0, 0, 0);
}

.button-1:active {
  color: rgb(129, 175, 210);
}
.minus {
  width: 40px;
  height: 38px;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}  

.plus {
  width: 39px;
  height: 38px;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.half-right {
  position: relative;
  left: 336px;
  bottom: 8px;

  width: 230px;
}

.half-right label {
  margin-right: 25px;
}

.half-right input {
  width: 36px;
  margin: 0;
  padding: 0;
  padding-left: 2px;

  text-align: center;
}


/* не понятно как сделать расстояние между звездами */
.rate-stars {
  background-image: url("../img/star.svg");
  height: 17px; 
  font-size: 0;
  line-height: 0;
  
}

.stars4 {
width: 90px;
}

.stars3 {
width: 64px;
}

.stars2 {
width: 40px;
}




