@font-face {
	font-family: 'PT Sans'; 
	font-weight: 400;
	font-style: normal;	 
	font-display: swap;
	src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
	}
	
@font-face {
	font-family: 'PT Sans'; 
	font-weight: 700;
	font-style: normal;	 
	font-display: swap;
	src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
	}

body {
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.site-navigation,
.infrastructure,
.house-type,
.sorting,
.points,
.hotels,
.social,
.features,
.advantages {
	list-style: none; 
}

/* INDEX  */


.main-navigator,
 .inner-navigator {
	line-height: 26px;		
	text-align: center;
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


.promo {	
	background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
	
}

.site-navigation {
	background-color: #ffffff;
  order: -1;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

}

.site-navigation li {
  padding-top: 22px;
  padding-bottom: 22px;
}


.site-navigation a {
	color: #333333;
	font-weight: bold;
}


/* Тут не отцентровывается как на макете */
.site-navigation li:first-child {
  margin-left: 73px;
}

.site-navigation li:nth-child(2) {
  margin-left: 0;
}

.site-navigation li:nth-child(3) {
  margin-left: 390;
}

.site-navigation li:nth-child(4) {
  margin-right: 73px;
}


/* Тут я не понимаю как правильно отсчитать на сколько пикселей сдвинуть влево/вправо */

.logo-position {
  position: absolute;
  top: 0px;

}

.container-center {
  width: 1200px;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: column;
}

.general {
	background-color: #ffffff;
	text-align: center;
  height: 217px;
  padding-top: 63px;
  box-sizing: border-box;

}

.features-part {
background-color: #ffffff;
}

.features-part h2 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
}


.paragraph {
	text-align: center;
	line-height: 24px;
}

.feature-item {
	text-align: center;
}

.feature-item h3 {
	font-size: 21px;
	line-height: 21px;
}

.advantages {
	background-color: #ededed;
	text-align: center;
}

/*криво выглядит*/
.reason {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Тут получилось отцентрировать прописав два раза паддинги в features и дочерние итемы*/

.features {
  display: flex;
  width: 1200px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.features .feature-item {
  padding-left: 73px;
  padding-right: 73px;
}

.reason h3 {
	font-size: 21px;
	line-height: 21px;	
}

.hotel-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;	
  }

.hotel-search:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #604e43;
  border: none;	
  }

  .hotel-search:active {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #503e33;
  border: none;	
  }

  .hotel-search:active span {
    opacity: 0.3;
  }


.button-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;	
  }

  .button-search:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #669ec0;
  border: none;	
  }

  .button-search:active {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #5496bd;
  border: none;	
  }

  .button-search:active span {
    opacity: 0.3;
  }



.date::-webkit-input-placeholder       {color: #000000; font-weight: 700;}
.date::-moz-placeholder                {color: #000000; font-weight: 700;}
.date:-moz-placeholder                 {color: #000000; font-weight: 700;}
.date:-ms-input-placeholder            {color: #000000; font-weight: 700;}
.date:focus::-webkit-input-placeholder {color: #000000; font-weight: 700;}
.date:focus::-moz-placeholder          {color: #000000; font-weight: 700;}
.date:focus:-moz-placeholder           {color: #000000; font-weight: 700;}
.date:focus:-ms-input-placeholder      {color: #000000; font-weight: 700;}
.date:hover::-webkit-input-placeholder {color: #000000; font-weight: 700;}
.date:hover::-moz-placeholder          {color: #000000; font-weight: 700;}
.date:hover:-moz-placeholder           {color: #000000; font-weight: 700;}
.date:hover:-ms-input-placeholder      {color: #000000; font-weight: 700;}


.date-black {
	color: #000000;
	font-weight: bold;
}

.map {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}



/* INNER  */


.hotel-form {
	color: #ffffff;
  background: url("../img/filter-background.jpg") no-repeat 0 100%;
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

}

fieldset {
  border: none;
}

.button-show {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 32px;
  width: 133px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid #ffffff;	
  }

  .button-show:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 32px;
  width: 133px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background: #ffffff;
  border: 3px solid #ffffff;	
  }

.section-found {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.found {
  display: flex;
  width: 1200px;
  padding-left: 73px;

}


.sorting {
  display: flex;
  width: 352px;
  justify-content: space-around;
}

.points {
  display: flex;
  flex-direction: row-reverse;
  width: 35px;
  height: 11px
  justify-content: space-around;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 73px;
}

/* padding-left такой же как и у .found, а отступ меньше выглядит */

.hotels {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 73px;
}


  .more {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  width: 110px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;	
  }

   .more:hover {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  width: 110px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #669ec0;
  border: none;	
  }

   .more:active {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  width: 110px;
  text-align: center;
  color: #88b6d1;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #5496bd;
  border: none;	
  }

  .booking {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  width: 142px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;	
  }

  .booking:hover {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  width: 142px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #604e43;
  border: none;	
  }

  .booking:active {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  width: 142px;
  text-align: center;
  color: #857871;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #503e33;
  border: none;	
  }

  .rates {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  width: 110px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;

  }

  .active-price a {
  	color: #81b3d2;
  }


  .for-type a {
  	color: #b2b2b2;
  }


  .for-type a:hover {
  	color: #81b3d2;
  	border-bottom: 2px dashed #81b3d2;
  }


  .for-type a:active {
  	color: #81b3d2;
  }

 
  .for-rates a {
  	color: #b2b2b2;
  }


  .for-rates a:hover {
  	color: #81b3d2;
  	border-bottom: 2px dashed #81b3d2;
  }


  .for-rates a:active {
  	color: #81b3d2;
  }

  .resorts:hover {
    color: #81b3d2;
  }

  .resorts:active {
    color: #b2b2b2;
  }

/* футер*/

.features-part {
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
}

/* тут будут соцсети */
  .social {
    
  }

  .twitter svg {
  	
  	
  }

   .fb svg {
  	
  
  }

  .youtube svg {
  	
  	
  }

  
  .svg-pic-up:hover svg {
    fill: #000000;
  } 
  .svg-pic-up:active svg {
    fill: #81b3d2;
  }

 
  .svg-pic-active:hover svg {
    fill: #000000;
  } 

  .svg-pic-active:active svg {
    fill: #81b3d2;
  }

/* Лого academy*/
.logo-html:hover svg {
  fill: #81b3d2;
}

.logo-html:active svg {
  fill: #bdbbbc;
}
