@font-face {
	font-family: 'PT Sans'; 
	font-weight: 400;
	font-style: normal;	 
	font-display: swap;
	src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
	}
	
@font-face {
	font-family: 'PT Sans'; 
	font-weight: 700;
	font-style: normal;	 
	font-display: swap;
	src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
	}

body {
	font-family: 'PT Sans', 'Arial', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.site-navigation,
.infrastructure,
.house-type,
.sorting,
.points,
.hotels,
.social,
.features,
.advantages {
	list-style: none; 
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* INDEX  */


.main-navigator,
 .inner-navigator {
	line-height: 26px;		
	text-align: center;
  
  display: flex;
  flex-direction: column;
  
}

.main-navigator {
  position: relative;
}

/* тут свг не вставился */
.promo {	
	background-image: 
  url("../img/background-last.jpg"),
  url("../img/polygon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;	
}

.promo img {
  margin-top: 77px;
  margin-bottom: 77px;
}

.site-navigation {
	background-color: #ffffff;

  display: flex;
  margin: 0;
  padding: 20px 0 22px 0;
  

}

.site-navigation ul {
  margin: 0;
  padding: 0;
}

.site-navigation a {
	color: #333333;
	font-weight: bold;
}



.site-navigation li:first-child {
  margin: 0 0 0 73px;
  padding: 0;
}

.site-navigation li:nth-child(2) {
  margin: 0 0 0 148px;
  padding: 0;
}

.site-navigation li:nth-child(3) {
  margin: 0 0 0 390px;
  padding: 0;
}

.site-navigation li:nth-child(4) {
  margin: 0 73px 0 auto;
  padding: 0;
}




.logo-position {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -69px;
}

.container {
width: 1200px;
margin: 0 auto;

}

.block-item {
padding: 47px 60px 65px 60px;
}

.block-head {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

}

.block {
 padding: 0;
 margin: 0; 
  
}

.container-center {
  margin-top: 61px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
}

.center {
  padding: 0;
  margin: 0 0 37px 0;
  line-height: 26px;
}

.center-paragraph {
  padding: 0;
  margin: 0;
}

.general {
	background-color: #ffffff;
	text-align: center;  
  box-sizing: border-box;

}

.features-one {
  padding-top: 54px;
  padding-bottom: 86px;
}


.features-part {
background-color: #ffffff;
display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: 54px;
  padding-bottom: 138px;
}

.features-part h2 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
  padding: 0;
  margin: 0 0 36px 0;
  
}
.item-first {
  margin: 0;
  padding: 0px;
}

.paragraph-first {
  margin: 0;
  padding: 0;
}

.paragraph {
	text-align: center;
	line-height: 24px;
  padding: 0;
  margin: 0 0 52px 0;
}

.feature-item {
	text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item svg {
order: -1;
margin-bottom: 30px;
}

.item-first {
  margin-bottom: 25px;
}

.feature-item .block-head {
	font-size: 21px;
	line-height: 21px;
  padding: 0;
  margin: 0;
  margin-top: 46px;
  margin-bottom: 28px;
}

.advantages {
	background-color: #ededed;
	text-align: center;
  padding: 0;
  margin: 0;
  
  
}

.feature-item .block {
  margin-bottom: 61px;
}



.reason {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
  display: flex;
  flex-direction: row;
  height: 256px;  
}

/* Тут получилось отцентрировать прописав два раза паддинги в features и дочерние итемы*/

.features {
  display: flex;
  
  padding: 0;
  
}

.features .feature-item {
  padding-left: 73px;
  padding-right: 73px;
}

.reason h3 {
	font-size: 21px;
	line-height: 21px;	
}

.hotel-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;	
  }

.hotel-search:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #604e43;
  border: none;	
  }

  .hotel-search:active {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 576px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #503e33;
  border: none;	
  }

  .hotel-search:active span {
    opacity: 0.3;
  }


.button-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;	
  }

  .button-search:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #669ec0;
  border: none;	
  }

  .button-search:active {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 60px;
  width: 460px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #5496bd;
  border: none;	
  }

  .button-search:active span {
    opacity: 0.3;
  }



.date::-webkit-input-placeholder       {color: #000000; font-weight: 700;}
.date::-moz-placeholder                {color: #000000; font-weight: 700;}
.date:-moz-placeholder                 {color: #000000; font-weight: 700;}
.date:-ms-input-placeholder            {color: #000000; font-weight: 700;}
.date:focus::-webkit-input-placeholder {color: #000000; font-weight: 700;}
.date:focus::-moz-placeholder          {color: #000000; font-weight: 700;}
.date:focus:-moz-placeholder           {color: #000000; font-weight: 700;}
.date:focus:-ms-input-placeholder      {color: #000000; font-weight: 700;}
.date:hover::-webkit-input-placeholder {color: #000000; font-weight: 700;}
.date:hover::-moz-placeholder          {color: #000000; font-weight: 700;}
.date:hover:-moz-placeholder           {color: #000000; font-weight: 700;}
.date:hover:-ms-input-placeholder      {color: #000000; font-weight: 700;}


.date-black {
	color: #000000;
	font-weight: bold;
}

.map {
  display: flex;
  flex-direction: column;

}







/* INNER  */


.hotel-form {
	color: #ffffff;
  background: #2a3e45 url("../img/filter-background.jpg") no-repeat 0 100%;
  display: flex;


}
/* этот блок не растянуть полностью на 100%*/
.main-forms {
  display: flex;
  flex-direction: row;
  padding: 30px 73px 30px 73px;
  width: 100%;
}

.folder-option {
  margin-bottom: 34px;
}



  .button-show:hover {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  height: 32px;
  width: 133px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background: #ffffff;
  border: 3px solid #ffffff;	
  }

.search3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.section-found {
  display: flex;
  flex-direction: row;
}

.found {
  display: flex;
  padding: 0 0 0 73px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  align-items: baseline;
}

.polygons {
  border-bottom: 1px solid #e5e5e5;

}

.sorting {
  display: flex;
  width: 352px;
  justify-content: space-around;

}

.points {
  display: flex;
  flex-direction: row-reverse;
  width: 35px;
  height: 11px
  justify-content: space-around;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 73px;
}



.hotels {
  display: flex;
  flex-direction: column;
  padding: 0 73px 0 73px;
  margin: 0;
}
/* как лучше убрать пробел между inline-block? постаила margin-left: -2px  - и не работает */
  .button {
  font: inherit;
  display: inline-block;
  padding: 7px 17px;
  vertical-align: middle;  
  text-align: center;
  border: none;
  font-size: 14px;
  line-height: 21px;
  margin-left: -2px;
}
  
  .more {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;	
  }

   .more:hover {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #669ec0;
  border: none;	
  }

   .more:active {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #88b6d1;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #5496bd;
  border: none;	
  }

  .booking {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  margin-left: 7px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;	
  }

  .booking:hover {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
 
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #604e43;
  border: none;	
  }

  .booking:active {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  color: #857871;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #503e33;
  border: none;	
  }





  .rates {
  display: inline-block;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  padding: 7px 16px 7px 14px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;

  }

  .active-price a {
  	color: #81b3d2;
  }


  .for-type a {
  	color: #b2b2b2;
  }


  .for-type a:hover {
  	color: #81b3d2;
  	border-bottom: 2px dashed #81b3d2;
  }


  .for-type a:active {
  	color: #81b3d2;
  }

 
  .for-rates a {
  	color: #b2b2b2;
  }


  .for-rates a:hover {
  	color: #81b3d2;
  	border-bottom: 2px dashed #81b3d2;
  }


  .for-rates a:active {
  	color: #81b3d2;
  }

  .resorts:hover {
    color: #81b3d2;
  }

  .resorts:active {
    color: #b2b2b2;
  }

.catalog-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.stars {
  margin-left: auto;
  text-align: right;
}


/* не получилось подтянуть этот блок выше */
.center-hotels {
  margin-left: 30px;
  }

/* футер*/


.features-part {
  display: flex;
  justify-content: space-around;
}

.footer-part {
  display: flex;
  flex-direction: row;
  width: 965px;
  justify-content: space-between;
}



/* тут будут соцсети */
  .social {
    display: flex;
     flex-wrap: wrap;
    width: 151px;
    height: 48px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }


/* НЕ ОТОБРАЖАЮТСЯ ИКОНКИ */

  .social-item {
    display: flex;
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
    align-items: center;
    justify-content: center;
  }


/* не работает наведение и криво изображен значек твиттера*/
  .social-item:hover  svg {  
  	fill: #669ec0;
  }

  .social-item:active svg {
    fill: #5496bd;
    opacity: 30%;
  }

  
  .svg-pic-up:hover svg {
    fill: #000000;
  } 
  .svg-pic-up:active svg {
    fill: #81b3d2;
  }

 
  .svg-pic-active:hover svg {
    fill: #000000;
  } 

  .svg-pic-active:active svg {
    fill: #81b3d2;
  }

/* Лого academy*/
.logo-html:hover svg {
  fill: #81b3d2;
}

.logo-html:active svg {
  fill: #bdbbbc;
}

.visitdesona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}


/* Где то тут ошибка */
.footer-right {
  display: flex;
  align-items: center;
}
.web {
  margin-right: 8px;
}

/* Фильтр для второй страницы */

/*  правильно ли*/
.filter-type {
  margin-left: 115px;
}

/*  не работают внешние отступы*/
.filter-range {
  width: 330px;
  margin-right: 73px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}


.filter-type-title
{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}



.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background: #ffffff;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


/* не обнулились отступы */
 .hotel-form ul {
  padding: 0;
  margin: 0;
}